html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

#items {
  flex: 0 0 50%;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  background-color: whitesmoke;
  border-radius: 6px;
  padding: 1rem;
}

#header {
  background: rgb(22, 70, 215);
  background: linear-gradient(
    90deg,
    rgba(22, 70, 215, 1) 5%,
    rgba(18, 103, 233, 1) 55%,
    rgba(0, 230, 255, 1) 100%
  );
  flex: 0 0 100%;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 2rem;
}

#map {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  background-color: whitesmoke;
  padding: 2rem;
}
